<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table style="font-size: 10pt; FONT-FAMILY: Arial, sans-serif; background: transparent !important; width: 590px;"
        cellpadding="0" cellspacing="0" border="0" class="ng-scope">
        <tbody>
            <tr>
                <td style="width: 156px; vertical-align: top; " valign="top" ng-if="showField('photo')"
                    class="ng-scope">
                    <img alt="photo" width="156" border="0" style="border:0; height:auto; width:156px"
                        src="https://images2.imgbox.com/89/1a/3v3RSlBj_o.png">
                </td>

                <td style="padding-left:20px; padding-right: 20px;  width: 414px; line-height: 5px;">
                    <span
                        style="font-size: 12pt;line-height: 22px;font-family: Arial, sans-serif;color: #9dc70e;font-weight: bold;"
                        >Anil Chari<br></span>
                    <span ng-if="showField('title')"
                        style="font-family: Arial, sans-serif;font-size: 10pt;line-height: 16px;color: #9c9a9a;"
                        class="ng-binding ng-scope">Chief Executive Officer
                        <br></span>
                    <span style="font-size: 5px; line-height: 5px;"><br></span>
                    <span ng-if="showField('mobile')" style="font-size: 9pt;line-height: 20px;color:#000000;"
                        class="ng-scope">
                        <span style="color:#9c9a9a">M:</span> <span style="color:#000000;"
                            class="ng-binding">+971-524139080</span>
                    </span>
                    <span ng-if="isAnyFieldEntered('mobile, phone')" style="line-height: 15px;"
                        class="ng-scope"><br></span>

                    <span ng-if="showField('email')"
                        style="FONT-FAMILY: Arial, sans-serif;font-size: 9pt;line-height: 20px;color:#000000;"
                        class="ng-scope">
                        <span style="color:#9c9a9a">E:</span>
                        <a href="mailto:anil.chari@apexpeopleconnect.com"
                            style="font-size: 9pt;line-height: 20px;color:#000000;text-decoration: none;">
                            <span
                                style="text-decoration: none; font-size: 10pt; line-height: 15px; color:#000000; FONT-FAMILY: Arial, sans-serif;"
                                class="ng-binding">anil.chari@apexpeopleconnect.com</span></a>
                    </span>

                    <span ng-if="isAnyFieldEntered('mobile, phone')" style="line-height: 15px;"
                        class="ng-scope"><br></span>

                    <span ng-if="showField('email')"
                        style="FONT-FAMILY: Arial, sans-serif;font-size: 9pt;line-height: 20px;color:#000000;"
                        class="ng-scope">
                        <span style="color:#9c9a9a">W:</span>
                        <a href="mailto:anil.chari@apexpeopleconnect.com"
                            style="font-size: 9pt;line-height: 20px;color:#9dc70e !important;text-decoration: none;">
                            <span
                                style="text-decoration: none; font-size: 10pt; line-height: 15px; color:#4f1fed !important; FONT-FAMILY: Arial, sans-serif;"
                                class="ng-binding">www.apexpeopleconnect.com</span></a>
                    </span>

                    <span ng-if="isAnyFieldEntered('email, website')" style="line-height: 10px; "
                        class="ng-scope"><br></span>
                    <span style="font-size: 5px; line-height: 5px;"><br></span>
                    <span class="ng-scope"><a href="https://www.facebook.com/profile.php?id=61587732500030"
                            target="_blank" rel="noopener"><img border="0" width="16" alt="facebook icon"
                                style="border: 2px solid #000;height:16px;width: 16px;padding: 2px;border-radius: 4px;"
                                src="https://images2.imgbox.com/46/ae/0XKhTqDd_o.png"></a>&nbsp;&nbsp;</span>
                    <span class="ng-scope"><a href="https://www.instagram.com/apexpeopleconnect" target="_blank"
                            rel="noopener"><img border="0" width="19" alt="instagram icon"
                                style="border: 2px solid #000;height:16px;width: 16px;padding: 2px;border-radius: 4px;"
                                src="https://images2.imgbox.com/8b/8d/iR8z4NaI_o.png"></a>&nbsp;&nbsp;</span>
                    <span class="ng-scope"><a href="https://www.linkedin.com/company/apexpeople-connect" target="_blank"
                            rel="noopener"><img border="0" width="19" alt="linkedin icon"
                                style="border: 2px solid #000;height:16px;width: 16px;padding: 2px;border-radius: 4px;"
                                src="https://images2.imgbox.com/c4/5d/nRWKrxdW_o.png"></a>&nbsp;&nbsp;</span>
                    <span class="ng-scope"><a href="https://www.tiktok.com/@apex.people.conne?_r=1&_t=ZS-93eNKbXpvWL"
                            target="_blank" rel="noopener"><img border="0" width="19" alt="tiktok icon"
                                style="border: 2px solid #000;height:16px;width: 16px;padding: 2px;border-radius: 4px;"
                                src="https://images2.imgbox.com/2c/74/CXSL57aL_o.png"></a>&nbsp;&nbsp;</span>
                    <!-- <span class="ng-scope"><a href="https://instagram.com/apexpeopleconnect" target="_blank" rel="noopener"><img
                                border="0" width="16" alt="instagram icon" style="border: 2px solid #000;height:16px;width: 16px;padding: 2px;border-radius: 4px;"
                                src="https://images2.imgbox.com/d5/84/fboFLhIj_o.png"></a>&nbsp;&nbsp;</span> -->
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>